.card11 {
  height: 350px;
  width: 300px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
@media only screen and (min-width: 450px) {
  .card11 {
    height: 450px;
    width: 600px;
  }
}
.card11 .card-body {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card11 .card-body .card-body-back {
  display: none;
}
@media only screen and (min-width: 450px) {
  .card11 .card-body .card-body-back {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
  }
}
.card11 .card-body .card-body-front {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  left: 0;
  top: 0;
  width: 300px;
  height: 350px;
  color: #333;
  background-color: #fff;
}
.card11 .card-body .card-body-front .card-body-front-header, .card11 .card-body .card-body-front .card-body-front-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #fff;
  text-transform: uppercase;
}
.card11 .card-body .card-body-front .card-body-front-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card11 .card-body .card-body-front .card-body-front-header h1 {
  font-size: 20px;
  padding: 0 10px;
}
.card11 .card-body .card-body-front .card-body-front-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.card11 .card-body .card-body-front .card-body-front-body h2 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.card11 .card-body .card-body-front .card-body-front-body div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.card11 .card-body .card-body-front .card-body-front-body div img {
  margin: 0 30px;
  width: 100px;
  height: 200px;
}
.card11 .card-body .card-body-front .card-body-front-body div span {
  position: relative;
  color: #8BC34A;
  letter-spacing: 0;
  font-size: 50px;
  font-weight: 700;
}
.card11 .card-body .card-body-front .card-body-front-body div span:before {
  position: absolute;
  content: '12';
  top: 0;
  right: 0;
  width: 1px;
  font-size: 16px;
}
.card11 .card-body .card-body-front .card-body-front-body div span:after {
  position: absolute;
  content: '';
  top: -5px;
  right: -20px;
  width: 2px;
  height: 30px;
  background-color: red;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.card11 .card-body .card-body-front .card-body-front-footer a {
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  background-color: #0D47A1;
}
.card11 .card-body .card-body-front .card-body-front-footer a:hover, .card11 .card-body .card-body-front .card-body-front-footer a:focus {
  background-color: #42A5F5;
}
@media only screen and (min-width: 450px) {
  .card11 .card-body .card-body-front {
    margin: 50px auto auto 50px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  }
}

/*# sourceMappingURL=style.css.map */
