$card-height: 300px;
$card-width: 300px;

$card-level-height: 75px;
$card-level-width: 150px;

$card-body-level-transform-origin-x: 90%;
$card-body-level-transform-origin-y: 90%;

.card5{
	height: $card-height;
	width: $card-width;

	background-color: transparent;
	overflow: hidden;

	.card-body{
		position: relative;
		display: flex;
		align-items: center;
		left: (100%-$card-body-level-transform-origin-x)/2;
		top: (100%-$card-body-level-transform-origin-y)/2;
		height: 100%;
		box-sizing: border-box;

		.card-body-level{
			position: absolute;
			top: 100px;
			height: $card-level-height;
			width: $card-level-width;
			border-radius: 3px;
			background-size:  cover;
			transition: box-shadow .3s;
			transform-origin: $card-body-level-transform-origin-x $card-body-level-transform-origin-y;
			&:hover{
				box-shadow: 0 0 2px #222;
			}
		}
		.card-body-level-1{
			transform: rotateZ(-20deg);
			background-image: url(img1.jpg);
		}
		.card-body-level-2{
			transform: rotateZ(-15deg);
			background-image: url(img2.jpg);
		}
		.card-body-level-3{
			transform: rotateZ(-5deg);
			background-image: url(img3.jpg);
		}
		.card-body-level-4{
			transform: rotateZ(10deg);
			background-image: url(img4.jpg);
		}
		.card-body-level-5{
			transform: rotateZ(45deg);
			background-image: url(img8.jpg);
		}
		.card-body-level-6{
			transform: rotateZ(85deg);
			background-image: url(img6.jpg);
		}
		.card-body-level-7{
			transform: rotateZ(120deg);
			background-image: url(img7.jpg);
		}
		.card-body-level-8{
			transform: rotateZ(140deg);
			background-image: url(img5.jpg);
		}
		.card-body-level-9{
			transform: rotateZ(170deg);
			background-image: url(img1.jpg);
		}
		.card-body-level-10{
			transform: rotateZ(185deg);
			background-image: url(im7.jpg);

			&:after{
				position: absolute;
				right: 5px; bottom: 5px;
				content:'';
				width: 15px;height: 15px;

				background-color: #000;
				border-radius: 50%;
				border: 5px solid #fff ;
			}

		}
	}
}